In [2]:
import pyodbc
import pandas

connection = pyodbc.connect('Driver={SQL Server};' 'Server=AmirHossein;' 'Database=AdventureWorks2019;' 'Trusted_Connection=yes;')
cursor = connection.cursor()
cursor.execute("Select * From Person.Person Where FirstName Like 'A%'")
data = []
for i in cursor:
    data.append(i)
for i in data:
    print(i)

(33, 'EM', False, None, 'Annik', 'O', 'Stahl', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'BFA2BDC8-208A-447B-8A4E-72A215E9E134', datetime.datetime(2008, 12, 10, 0, 0))
(47, 'EM', False, None, 'Andrew', 'R', 'Hill', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'B6439F4F-E57D-4293-B0C8-8919591055A3', datetime.datetime(2009, 2, 15, 0, 0))
(109, 'EM', False, None, 'Alice', 'O', 'Ciccu', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'B5836E66-4251-4D4D-8F49-8E6D9E3C9D64', datetime.datetime(2008, 11, 30, 0, 0))
(115, 'EM', False, None, 'Angela', 'W', 'Barbariol', None, 2, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '8E6ADFD0-2FE0-4EB9-93F2-A04FD877F6DC', datetime.datetime(2009, 1, 13, 0, 0))
(137, 'EM', False, None, 'Anibal', 'T', 'Sousa', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '9B75A538-958C-4C91-987A-B9BCCE683E8A', datetime.datetime(2009, 2, 16, 0, 0))
(149, 'EM', False, None, 'Andy', 'M', 'Ruth', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '9CFDF60A-083A-44DC-AFE2-D578C76FD55A', datetime.datetime(2009, 1, 24, 0, 0))
(163, 'EM', False, None, 'Alex', 'M', 'Nayberg', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '08CA0103-CA0E-4B52-A20F-590BA3FECDA8', datetime.datetime(2009, 2, 1, 0, 0))
(164, 'EM', False, None, 'Andrew', 'M', 'Cencini', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'B1D33171-636C-440C-B4F6-F5F6F1EBBC70', datetime.datetime(2009, 2, 27, 0, 0))
(193, 'EM', False, None, 'Alejandro', 'E', 'McGuel', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'F38E101D-B360-4876-8E8F-07726E85AE5D', datetime.datetime(2008, 11, 29, 0, 0))
(214, 'EM', False, None, 'Andreas', 'T', 'Berglund', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '4F896936-FBF8-4120-BC87-62CCF30D09DB', datetime.datetime(2009, 1, 26, 0, 0))
(222, 'EM', False, None, 'A. Scott', None, 'Wright', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '90CC98B7-6054-4AB5-844E-3ECCB8A73070', datetime.datetime(2008, 12, 5, 0, 0))
(225, 'EM', False, None, 'Alan', 'J', 'Brewer', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '72331C0F-994F-4494-ABFC-AA129DA85635', datetime.datetime(2009, 2, 6, 0, 0))
(252, 'EM', False, None, 'Arvind', 'B', 'Rao', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'E70B4E15-AB90-483F-A417-D0A8E66D35FB', datetime.datetime(2009, 2, 21, 0, 0))
(260, 'EM', False, None, 'Annette', 'L', 'Hill', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'D69499B6-7467-4D5D-A89D-F116E5752444', datetime.datetime(2010, 11, 29, 0, 0))
(265, 'EM', False, None, 'Ashvini', 'R', 'Sharma', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '252A5641-6B19-4347-830F-E659BFC76AEF', datetime.datetime(2008, 11, 27, 0, 0))
(287, 'SP', False, None, 'Amy', 'E', 'Alberts', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '0CCB2270-1C40-4E7D-9A09-0B29A94DA8B6', datetime.datetime(2012, 4, 9, 0, 0))
(323, 'SC', False, 'Ms.', 'Amy', 'E.', 'Alberts', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-3698.450608</TotalPurchaseYTD></IndividualSurvey>', '367113B0-AB80-40D7-A0B7-B1D9D83CE06E', datetime.datetime(2012, 7, 31, 0, 0))
(325, 'SC', False, 'Ms.', 'Anna', 'A.', 'Albright', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-2658.129</TotalPurchaseYTD></IndividualSurvey>', 'B6E43A72-8F5F-4525-B4C0-EE84D764E86F', datetime.datetime(2012, 5, 30, 0, 0))
(395, 'SC', False, 'Mr.', 'Alberto', 'F.', 'Baltazar', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'B3622F28-96D2-45C4-8310-F9688C6C631F', datetime.datetime(2011, 8, 1, 0, 0))
(401, 'SC', False, 'Ms.', 'Angela', None, 'Barbariol', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'E25E7C6E-F378-42E1-8F0C-CC4E79E35F1C', datetime.datetime(2012, 5, 30, 0, 0))
(413, 'SC', False, 'Mr.', 'Adam', None, 'Barr', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-8929.5598</TotalPurchaseYTD></IndividualSurvey>', 'E87B9431-227B-4AC7-860A-B764CFF0F492', datetime.datetime(2012, 6, 30, 0, 0))
(437, 'SC', False, 'Ms.', 'Ann', None, 'Beebe', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-1000.1139</TotalPurchaseYTD></IndividualSurvey>', '3D4B934D-6559-431B-B471-1FD508407B19', datetime.datetime(2011, 7, 1, 0, 0))
(463, 'SC', False, 'Mr.', 'Alexander', 'J.', 'Berger', 'II', 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-1274.764216</TotalPurchaseYTD></IndividualSurvey>', 'B66BB606-03A8-44E8-831B-2B8278534CE8', datetime.datetime(2013, 7, 31, 0, 0))
(469, 'SC', False, None, 'Andreas', None, 'Berglund', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '5DB095E5-82F2-4742-B010-C14BA56E7537', datetime.datetime(2011, 7, 1, 0, 0))
(523, 'SC', False, 'Mr.', 'Alan', None, 'Brewer', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-3385.3678</TotalPurchaseYTD></IndividualSurvey>', 'E6164829-8FEC-4583-BFDD-8371C57926F2', datetime.datetime(2011, 10, 1, 0, 0))
(639, 'SC', False, 'Mr.', 'Andy', None, 'Carothers', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-5167.734</TotalPurchaseYTD></IndividualSurvey>', '12AAD41F-CB14-47B4-8D5D-8AB4B403FB3E', datetime.datetime(2012, 5, 30, 0, 0))
(659, 'SC', False, 'Mr.', 'Andrew', None, 'Cencini', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-5393.0088</TotalPurchaseYTD></IndividualSurvey>', '9B80DBEE-6A75-45F5-84DC-10C3EF6FF808', datetime.datetime(2013, 7, 31, 0, 0))
(695, 'SC', False, 'Mr.', 'Anthony', None, 'Chor', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-5502.820875</TotalPurchaseYTD></IndividualSurvey>', 'C84289C0-F96E-445E-9912-293027DD5279', datetime.datetime(2013, 7, 31, 0, 0))
(701, 'SC', False, 'Ms.', 'Alice', None, 'Clark', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-6973.188</TotalPurchaseYTD></IndividualSurvey>', '8C3BAD59-0A4B-4981-96E3-3AA82CA63DF7', datetime.datetime(2012, 7, 31, 0, 0))
(727, 'SC', False, 'Mr.', 'Aaron', None, 'Con', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-7983.5739</TotalPurchaseYTD></IndividualSurvey>', '8FAED624-34E1-4E5E-88E6-D59320E67AC4', datetime.datetime(2011, 7, 1, 0, 0))
(735, 'SC', False, 'Ms.', 'Amy', 'R.', 'Consentino', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-3294.282</TotalPurchaseYTD></IndividualSurvey>', '69772008-1512-4370-8F77-4C5D5C316DBA', datetime.datetime(2013, 5, 30, 0, 0))
(775, 'SC', False, 'Sr.', 'Alvaro', None, 'De Matos Miranda Filho', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-10554.6266</TotalPurchaseYTD></IndividualSurvey>', 'F5C85E68-C674-4DDE-A7BF-583F08B1936A', datetime.datetime(2012, 7, 31, 0, 0))
(781, 'SC', False, 'Mr.', 'Alexander', 'J.', 'Deborde', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-728.161</TotalPurchaseYTD></IndividualSurvey>', '49E1AFE9-FEFC-40A7-808C-214CBDD79EFB', datetime.datetime(2012, 6, 30, 0, 0))
(787, 'SC', False, 'Ms.', 'Aidan', None, 'Delaney', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-6274.951775</TotalPurchaseYTD></IndividualSurvey>', '0DAF75FD-4C86-4E43-B6BA-FB9830C4135F', datetime.datetime(2011, 8, 1, 0, 0))
(813, 'SC', False, 'Mr.', 'Andrew', None, 'Dixon', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-44002.3023</TotalPurchaseYTD></IndividualSurvey>', '4B60B9E7-9275-486C-816C-563A5869B786', datetime.datetime(2011, 8, 1, 0, 0))
(835, 'SC', False, 'Sr.', 'Adrian', None, 'Dumitrascu', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-3214.836</TotalPurchaseYTD></IndividualSurvey>', '37109ABD-952F-435A-B5EA-C7A1CBD41801', datetime.datetime(2012, 10, 30, 0, 0))
(871, 'SC', False, 'Ms.', 'Ann', 'R.', 'Evans', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-2539.0238</TotalPurchaseYTD></IndividualSurvey>', 'B52B85BD-7903-4A1E-B215-072A3DEAE7E1', datetime.datetime(2012, 7, 31, 0, 0))
(921, 'SC', False, 'Ms.', 'Aldeen', 'J.', 'Gallagher', None, 2, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-48.588</TotalPurchaseYTD></IndividualSurvey>', 'FEA2C5D9-7D58-4643-B220-054952B2CB98', datetime.datetime(2013, 8, 30, 0, 0))
(975, 'SC', False, 'Ms.', 'Abigail', 'J.', 'Gonzalez', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-7930.8163</TotalPurchaseYTD></IndividualSurvey>', '209718D7-3541-4649-964B-B87F895C63B5', datetime.datetime(2012, 6, 30, 0, 0))
(1033, 'SC', False, 'Ms.', 'Ann', 'T.', 'Hass', None, 2, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-3351.4347</TotalPurchaseYTD></IndividualSurvey>', 'BA9518A7-003B-4FB6-BAB2-A52BBE6756CE', datetime.datetime(2012, 6, 30, 0, 0))
(1077, 'SC', False, 'Mr.', 'Andrew', 'R.', 'Hill', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-1560.024</TotalPurchaseYTD></IndividualSurvey>', '5DDF5918-AEA4-4983-9DCD-38C938D04FEA', datetime.datetime(2013, 7, 31, 0, 0))
(1121, 'SC', False, 'Ms.', 'Arlene', None, 'Huff', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-400.104</TotalPurchaseYTD></IndividualSurvey>', 'A824044B-2BE8-4CDC-A9EF-CD45F462687B', datetime.datetime(2013, 6, 30, 0, 0))
(1221, 'SC', False, 'Ms.', 'Alice', 'L.', 'Kesterson', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'C97264E8-BE7C-4302-B701-44D353B687CA', datetime.datetime(2013, 7, 31, 0, 0))
(1241, 'SC', False, 'Mr.', 'Anton', None, 'Kirilov', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-8164.5356</TotalPurchaseYTD></IndividualSurvey>', '6C36C7F2-F794-477E-B94B-B375EE86FBF3', datetime.datetime(2012, 6, 30, 0, 0))
(1245, 'SC', False, 'Mr.', 'Andrew', 'P.', 'Kobylinski', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-8097.6664</TotalPurchaseYTD></IndividualSurvey>', '49F78DAA-9DAF-449C-80E5-AA33DAA62017', datetime.datetime(2011, 10, 31, 0, 0))
(1305, 'SC', False, None, 'A.', 'Francesca', 'Leonetti', None, 2, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-4256.3016</TotalPurchaseYTD></IndividualSurvey>', '1E1403A8-6B43-4E6B-861C-1D49E6F23AC8', datetime.datetime(2013, 7, 31, 0, 0))
(1351, 'SC', False, 'Ms.', 'Anita', 'R.', 'Lucerne', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-7494.35775</TotalPurchaseYTD></IndividualSurvey>', '5C28FCE8-DB52-4222-BD91-2AB9FED54696', datetime.datetime(2013, 7, 31, 0, 0))
(1381, 'SC', False, 'Mr.', 'Ajay', None, 'Manchepalli', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-563.946</TotalPurchaseYTD></IndividualSurvey>', '5DD53673-7012-4821-9171-4D79880B751D', datetime.datetime(2013, 12, 31, 0, 0))
(1433, 'SC', False, 'Mr.', 'Alejandro', None, 'McGuel', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-1123.854</TotalPurchaseYTD></IndividualSurvey>', '87CD7A8E-C675-4E30-9D52-79B47C138FC7', datetime.datetime(2013, 6, 30, 0, 0))
(1499, 'VC', False, 'Ms.', 'Alan', 'L.', 'Monitor', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'D78842CD-A022-4C78-9E05-0A8388B95AE3', datetime.datetime(2012, 2, 2, 0, 0))
(1517, 'VC', False, 'Mr.', 'Albert', None, 'Mungin', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '6CA86E4E-FDAB-4403-96D0-55750F18673B', datetime.datetime(2011, 12, 24, 0, 0))
(1537, 'VC', False, 'Mr.', 'Alex', None, 'Nayberg', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'CB6F7B14-9C7E-4927-87ED-CE52E8E9C89C', datetime.datetime(2012, 2, 18, 0, 0))
(1541, 'VC', False, 'Mr.', 'Amir', 'T.', 'Netz', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '02039E2B-5F88-452A-BB2D-B3C4446DE3C8', datetime.datetime(2012, 1, 25, 0, 0))
(1629, 'VC', False, None, 'Alma', 'B.', 'Poorbaugh', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', '9D8FAF5F-8B8D-4DA0-948A-3E802D42F16E', datetime.datetime(2012, 2, 2, 0, 0))
(1657, 'VC', False, 'Mr.', 'Arvind', 'B.', 'Rao', None, 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'ECC9CB33-8355-4602-BF7C-E0EA5F2E5867', datetime.datetime(2011, 12, 24, 0, 0))
(1679, 'VC', False, 'Mr.', 'Adam', 'J.', 'Reynolds', 'Jr.', 1, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'BC4E0302-33E6-4897-995E-9994BEBFAEB6', datetime.datetime(2012, 1, 25, 0, 0))
(1683, 'VC', False, 'Mr.', 'Albert', 'A.', 'Rhodes', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>', 'EDF54CFC-7B97-49CF-8EE9-1059524C533F', datetime.datetime(2012, 2, 2, 0, 0))
(1713, 'IN', False, 'Ms.', 'Andrea', None, 'Rusko', None, 0, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-21.49</TotalPurchaseYTD><DateFirstPurchase>2003-12-30Z</DateFirstPurchase><BirthDate>1962-09-09Z</BirthDate><MaritalStatus>S</MaritalStatus><YearlyIncome>0-25000</YearlyIncome><Gender>F</Gender><TotalChildren>1</TotalChildren><NumberChildrenAtHome>0</NumberChildrenAtHome><Education>Graduate Degree</Education><Occupation>Clerical</Occupation><HomeOwnerFlag>0</HomeOwnerFlag><NumberCarsOwned>0</NumberCarsOwned><CommuteDistance>0-1 Miles</CommuteDistance></IndividualSurvey>', '42187190-B992-48E6-8070-A340B379F1C3', datetime.datetime(2013, 11, 28, 0, 0))
(1714, 'IN', False, 'Mr.', 'Andy', None, 'Ruth', None, 2, None, '<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-41.01</TotalPurchaseYTD><DateFirstPurchase>2004-07-19Z</DateFirstPurchase><BirthDate>1976-04-26Z</BirthDate><MaritalStatus>S</MaritalStatus><YearlyIncome>25001-50000</YearlyIncome><Gender>F</Gender><TotalChildren>0</TotalChildren><NumberChildrenAtHome>0</NumberChildrenAtHome><Education>Partial College</Education><Occupation>Clerical</Occupation><HomeOwnerFlag>1</HomeOwnerFlag><NumberCarsOwned>1</NumberCarsOwned><CommuteDistance>2-5 Miles</CommuteDistance></IndividualSurvey>', '0A3F1008-C760-4A47-821D-394D6A7FC9D5', datetime.datetime(2014, 6, 18, 0, 0))